.advantage__block{
    margin: 40px 0;
    background: #ffffff;
}
.advantage__container{
    display: flex;
    justify-content: center;
}
.advantage__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.advantage__item{
    margin: 85px 0 85px;
    max-width: 460px;
    display: flex;
}
.advantage__item-logo{
    margin-right: 32px;
    border-radius: 50%;
    box-shadow: 0px 13.2687px 90px 11.2274px rgba(0, 0, 0, 0.22);
}
.advantage__content-title{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 32.6615px;
    line-height: 38px;

    color: #000000;
}
.advantage__content-text{
    font-weight: 300;
    font-size: 20.4134px;
    line-height: 24px;

    color: #000000;
}