.community__container{
    display: flex;
}
.community__img{
    max-width: 650px;
    width: 100%;
    height: fit-content;
    align-self: center;
}
.community__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.community__title{
    margin-bottom: 34px;
}
.community__text{
    margin-bottom: 60px;
}
.community__icon{
    max-width: 152px;
}

@media (max-width: 1200px){
    .community__img{
        max-width: 580px;
    }
    .community__icon{
        max-width: 140px;
    }
}

@media (max-width: 991px){
    .community__block{
        margin: 50px 0;
    }
    .community__content{
        max-width: 420px;
    }
    .community__img{
        max-width: 350px;
    }
    .community__title{
        margin-bottom: 16px;
    }
    .community__text{
        margin-bottom: 30px;
    }
    .community__icon{
        max-width: 100px;
    }
}

@media (max-width: 768px){
    .community__block{
        margin: 25px 0;
    }
    .community__content{
        max-width: 360px;
    }
    .community__img{
        max-width: 280px;
    }
    .community__title{
        margin-bottom: 16px;
    }
    .community__text{
        margin-bottom: 30px;
    }
    .community__icon{
        max-width: 70px;
    }
}

@media (max-width: 576px){
    .community__block{
        margin: 25px 0;
    }
    .community__container{
        justify-content: center;
    }
    .community__content{
        max-width: 170px;
    }
    .community__img{
        max-width: 200px;
    }
    .community__title{
        margin-bottom: 16px;
    }
    .community__text{
        margin-bottom: 30px;
    }
    .community__icon{
        max-width: 70px;
    }
}
@media(max-width: 400px){
    .community__img{
        max-width: 150px;
        max-height: auto;
    }
}