.advertising_block {
    padding: 73px 0 124px;
}
.advertising_container {
    display: flex;
    justify-content: center;
}
.advertising_title {
    width: 845px;
    height: 126px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 108%;

    color: #1B1642;
}
.advertising_text {
    width: 439px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;

    color: #575A7B;
}
.advertising_container {
    display: flex;
    flex-direction: row;
}
.advertising__img {
    height: 312px;
    width: 274px;
}