.economize__block{
    margin: 75px 0;
}
.economize__container{
    display: flex;
}
.economize__img{
    align-self: center;
    max-height: 837px;
}
.economize__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 541px;
}
.economize__title{
    margin-bottom: 20px;
    color: #1B1642;
}
.economize__text{
    margin-bottom: 60px;
    color: #575A7B;
}
.economize__content-img{
    max-width: 152px;
}

@media (max-width: 1200px){
    .economize__img{
        max-height: 720px;
    }
    .economize__content{
        max-width: 541px;
    }
    .economize__content-img{
        max-width: 140px;
    }
}

@media (max-width: 1024px){
    .economize__block{
        margin: 60px 0;
    }
    .economize__img{
        max-height: 550px;
    }
    .economize__content{
        max-width: 420px;
    }
    .economize__title{
        margin-bottom: 16px;
    }
    .economize__text{
        margin-bottom: 30px;
    }
}

@media (max-width: 991px){
    .economize__content-img{
        max-width: 100px;
    }
}

@media (max-width: 768px){
    .economize__img{
        max-height: 400px;
    }
    .economize__content{
        max-width: 360px;
    }
    .economize__content-img{
        max-width: 70px;
    }
    .economize__title{
        margin-bottom: 12px;
    }
    .economize__text{
        margin-bottom: 20px;
    }
}

@media (max-width: 576px){
    .economize__block{
        margin: 45px 0;
    }
    .economize__container{
        justify-content: center;
    }
    .economize__img{
        max-height: 230px;
    }
    .economize__content{
        max-width: 170px;
    }
    .economize__content-img{
        max-width: 70px;
    }
    .economize__title{
        margin-bottom: 12px;
    }
    .economize__text{
        margin-bottom: 20px;
    }
}