.footer__block {
    background: #1B1642;
    color: white;
}
.footer__container {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
}
.left_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mail_image{
    height: 29px;
}
.top_footer {
    width: 100%;
    height: auto;
    max-width: 430px;
}
.footer__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 121%;
    color: #ffffff;
}
.mid_footer {
    display: flex;
    margin-top: 30px;
}
.phone, .geo {
    display: flex;
}
.geo {
    margin-left: 30px;
}
.bottom_footer {
    margin-top: 30px;
}
.phone_image, .geo_image, .mail_image {
    margin-right: 15px;
}
.phone_text, .geo_text, .bottom_footer {
    font-weight: 400;
    font-size: 20px;
    line-height: 116.64%;
}
.phone_number, .bottom_footer {
    font-weight: 700;
}
.footer_menu {
    display: flex;
    flex-direction: column;
}
.footer_menu a {
    font-weight: 700;
    font-size: 24px;
    line-height: 116.64%;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 15px;
}

@media (max-width: 1100px) {
    .footer__container{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .top_footer{
        max-width: 350px;
    }
    .footer__title{
        font-size: 56px;
    }
    .phone_image{
        max-height: 29px;
    }
    .geo_image{
        height: 29px;
    }
    .phone_text, .geo_text, .bottom_footer {
        font-size: 13px;
    }
    .footer_menu a {
        font-size: 16px;  
        margin-bottom: 8px;
    }
}

@media (max-width: 768px) {
    .left_footer{
        width: 80%;
    }
    .right_footer{
        width: 20%;
    }
    .top_footer{
        max-width: 300px;
    }
    .footer__title{
        font-size: 48px;
    }
}

@media (max-width: 650px) {
    .left_footer{
        width: 83.3333333%;
    }
    .right_footer{
        width: 16.6666667%;
    }
    .footer__container{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .phone_text, .geo_text, .bottom_footer {
        font-size: 8px;
    }
    .footer_menu a {
        font-size: 8px; 
    }
    .top_footer {
        max-width: 200px;
        width: 100%;
    }
    .footer__title{
        font-size: 32px;
    }
    .phone_image,
    .geo_image,
    .mail_image{
        max-width: 15px;
        height: auto;
    }
    .mid_footer,
    .bottom_footer{
        margin-top: 15px;
    }
}

@media (max-width: 400px){
    .left_footer{
        width: 75%;
    }
    .right_footer{
        width: 25%;
    }
    .footer__container{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .phone_text, .geo_text, .bottom_footer {
        font-size: 6px;
    }
    .footer_menu a {
        font-size: 8px;
    }
    .top_footer {
        max-width: 120px;
    }
    .footer__title{
        font-size: 20px;
    }
    .geo{
        margin-left: 10px;
    }
    .phone_image,
    .geo_image,
    .mail_image{
        width: 8px;
        height: auto;
        margin-right: 5px;
    }
    .mid_footer,
    .bottom_footer {
        margin-top: 10px;
    }
}