header {
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid #D9D9D9;
    background: #F3F8FF;
}
.header__container{
    display: flex;
    justify-content: space-between;
}
.header__title{
    margin-left: 10px;
    font-size: 24px;
    color: #0E1B4F;
}
.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 116.64%;
}
.nav__container{
    padding: 0;
}

@media (max-width: 1200px){
    .nav-link {
        font-size: 16px;
    }
    .header__title{
        margin-left: 6px;
    }
}

@media (max-width: 992px) {
    .logo-img{
        display: none!important;
    }
    .navbar-collapse{
        margin-top: 8px;
    }
    .navbar {
        width: 100%;
    }
    nav .container {
        padding: 5px;
        max-width: 992px;
        justify-content: flex-end!important;
        margin: 0;
    }
    .navbar-nav {
        align-items: flex-end;
    }
}

@media (max-width: 576px) {
    .nav-link {
        font-size: 14px;
        line-height: 116.64%;
    }
}