body,
input,
div,
p,
a,
h1, h2, h3, h4, h5, h6,
label {
  font-family: "Roboto", sans-serif!important;
  font-style: normal!important;
}

body{
  background: #F3F8FF!important;
}

.title{
  font-weight: 700;
  font-size: 48px;
  line-height: 132%;
}

.text{
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
}

.block-show{
  display: "block!important"
}

@media (max-width: 1200px){
  .title{
    font-size: 36px;
  }
  .text{
    font-size: 15px;
  }
}

@media (max-width: 1024px){
  .title{
    font-size: 28px;
  }
  .text{
    font-size: 12px;
  }
}

@media (max-width: 768px){
  .title{
    font-size: 20px;
  }
  .text{
    font-size: 10px;
  }
}

@media (max-width: 576px){
  .title{
    font-size: 14px;
  }
  .text{
    font-size: 7px;
  }
}